<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form name = "product" action="/updateProduct" method="post">
    <p>Id</p>
    <input title = "Id" type="text" name="id" th:value="${product.id}" readonly>
    <p>Name</p>
    <input title = "Name" type="text" name="name" th:value="${product.name}">
    <p>Price</p>
    <input title = "Price" type="text" name="price" th:value="${product.price}">
    <br><br>
    <input type="submit" value="OK">
</form>


</body>
</html>